bibtexparser==1.2.0
tqdm==4.46.0
palettable==3.3.0
numba==0.51.2
plotly==4.11.0
nltk==3.6.5
matplotlib==3.2.2
ads==0.12.3
numpy==1.19.1
pytest==6.0.1
scipy==1.5.0
simple-augment==1.0
mock==4.0.2
pandas==1.1.4
rebound==3.12.3
verdict==1.1.4
