simple_augment.egg==info
scipy==1.8.0
mock==4.0.3
h5py==3.6.0
matplotlib==3.5.1
verdict.egg==info
numpy==1.22.2
pandas==1.3.1
pytest==6.2.4
palettable==3.3.0
tqdm==4.63.0
numba==0.53.1
ads==0.12.3
augment==0.4
bibtexparser==1.2.0
cc==0.1
descartes==1.1.0
nltk==3.7
plotly==5.7.0
rebound==3.19.2
scikit_learn==1.0.2
Shapely==1.8.1.post1
verdict==1.1.4
